*{
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
}

li{
    cursor: pointer;
}

li:hover{
    color: rgb(125, 166, 41);
}

.container-navbar{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 85%;
    margin: auto;
    
}

#main-navbar{
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0px;
    margin-top : 5px;
    margin-left:5px;
    font-size: 20px;
    font-weight: bold;
    padding: 0%;


    

}

#categories-button{
    width: 325px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(125, 166, 41);
    color: white;
    font-weight: bold;
    font-size: 16px;


}

#main-navbar li,
#categories-button{
    margin: 0%;
    height: 45px;
    padding: 10px 20px 10px 4px ;
    border: 1px solid black;
    transition: all ease-in-out 0.5s;

}

.active{
    color: rgb(125, 166, 41);

}


#category-list{
    background-color: white;
    border: 1px solid black;
    width: 325px;
    margin: 0%;
    list-style: none;
    padding: 0%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;


}


#category-list li{
    padding: 15px 20px 12px 5px;
    border-bottom: 1px rgba(0, 0, 0, 0.240) solid;
    transition: all ease-in-out ;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.container-categorymenu{
    position: relative;
    width: 100%;
}

.category-section{
    width: 325px;
}



#women-list{
    background-color: white;
    position: absolute;
    top: 58px;
    left: 452px;
    box-shadow: -1px 0px 0px 0px rgb(125, 166, 41);    
    width: 665px;
    display: flex;
    flex-flow: column;
    justify-content: start;
    padding: 8px;
    display: none;
    
}

.links-womenlist{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0%;
    
}

.links-list{
    padding: 0%;
    margin-right: 40px;
    margin-top: 0%;
}

.links-list span{
    font-size: 20px;
    font-weight: bold;
}

.links-list li{
    font-size: 16px;
    margin-top: 8px;
}

.divider-womenlist{
    width: 100%;
    color: rgba(0, 0, 0, 0.211);
}

.img-womenlist{
    width: 100%;
}

#Pages-list{
    background-color: white;
    position: absolute;
    top: 59px;
    left: 772px;
    padding: 8px;
    display: none;
}

#Pages-list li{
    padding: 10px 20px 13px 4px ;
}