
:root{
    --main_color:rgb(125, 166, 41);
}

*{
    list-style: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    padding: 0%;
    margin: 0;
}


.row{
    width: 85%;
    margin: auto !important;
}

a{
    text-decoration: none !important;
    color: black;

}

.contact-bar .icon{
    color: white;
    padding-right: 1px;
}

.contact-bar .text{
    color: white;
    font-size: 12px;
    line-height: 28px;
}

.contact-bar{
    padding-top: 8px;
    padding-bottom: 4px;
    background-color: var(--main_color)
}

.contacts a{
    color: white;
}

.contacts .appstore i,
.contacts .googlestore i{
    margin-right: 5px;
}

.contacts{
    width: 40%;
}

.contacts .appstore a,
.contacts .googlestore a,
.contacts .dropdown,
.contacts .dropdown{
    height: 25px;
    width: 100px;
}

#lang-button:active,
#currency-button:active{
    background-color: var(--main_color);

}
.contact-bar .contacts .dropdown-toggle{
    background-color: var(--main_color);
    color: white;
    border: 0;
    margin-top: -7px;
}

.contact-bar .news,
.contact-bar .contacts{
    padding: 0%;
    
}

.dropdown-menu a{
    background-color: white;
    color: black;
}

.dropdown-menu a:hover{
    color: var(--main_color);
    background-color: white;

}

.logo{
    width: 100%;

}



.brand-logo{
    width: 155px;
    margin-top: 8px;
    padding-left: 0px;
}

.search-bar{
    display: flex;
    align-items: center;
}


.search-bar img{
    width: 10%;
    height: 80px;
}

.page-navbar{
    margin-bottom: 10px;
}

.page-nav{
    margin-top: -13px;
}



.user-logo ,.cart-logo{
    color: #7da629;
    padding: 10px;    
    font-size: 36px;
    border: #000000 1px solid;
}

.cart-links span {
    padding: 8px;
    width: 100px;
    height: 40px;
}

.account-icon span{
    padding:0px 8px 0px 8px  ;
}

.account-setting,.cart{
    width: 204px;
}

.cart-logo{
    position: relative;
}


.counter{
    font-size: 14px;
    width: 20px;
    height: 20px;
    background-color: var(--main_color);
    border-radius: 50%;
    text-align: center;
    line-height: 1.4;
    color: white;
    position: absolute;
    right: -10px;
    top: -12px;

}

#lang-button , #currency-button{
    width: 100px;
}



.categories-menu{
    border: 1px solid black;
    position: relative;
    
}

.search-bar .input-group {
    position: relative;
}


.search-bar .input-group .fa-magnifying-glass{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}

.category-text{
    color: white;
    width: 100%;
    text-align: start;
}

.category-text:hover,
.active,
.category-text:focus{
    color: var(--main_color)!important;
    border: 0px;
}

.category-text::after{
    display: none;
}

.category-text .bar-logo{
    position: absolute;
    top: 10px;
    right:10px;
}

.category-menu{
    width: 100%;
    border-radius: 0%;
}

.category-menu li{
    padding: 8px 0px 8px 0px;
    border-bottom: 1px #00000038 solid;
    font-size: 16px;
}

.category-toggle-button{
    color: #413f3f;
    border: 1px solid black;
    padding: 7px;
    font-size: 31px;
}


ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
}

li{
    cursor: default;
}

a{
    cursor: pointer;
}

li:hover{
    color: rgb(125, 166, 41);
}

.container-navbar{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 85% !important;
    margin: auto;
    
}

#main-navbar{
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0px;
    margin-left:18px;
    font-size: 20px !important;
    font-weight: 200 !important;
    padding: 0%;    
    z-index: 999;

}

#main-navbar  .fa-sort-down{
    margin-top: -7px!important;
}

#menlist-container #menlist-button  .fa-sort-down{
    position: absolute;
    top: 17px;
    
}


#main-navbar li span{
    margin-right: 3px;
}


#main-navbar li{
    height: 45px;
    margin-right: 20px;    
    transition: all ease-in-out 0.5s;
    display: flex;
    align-items: center;
    color: white;

}



.container-main-nav{
    background-color: #000000ad;
}


#categories-button{
    width: 325px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(125, 166, 41);
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0%;
    padding: 10px 20px 10px 8px;
    transition: all ease-in-out 0.5s;
    display: flex;
    align-items: center;
    border: 0px;
    padding-left: 20px;

}






/* .active{
    color: rgb(125, 166, 41);

} */


#category-list{
    border: 1px solid black;
    width: 325px;
    margin: 0%;
    list-style: none;
    padding: 0%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    background-color: white;
    z-index: 999;


}


#category-list li{
    padding: 15px 20px 12px 5px;
    border-bottom: 1px rgba(0, 0, 0, 0.240) solid;
    transition: all ease-in-out ;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.container-categorymenu{
    position: relative;
    width: 100%;
}

.category-section{
    width: 325px;
}


#another-women-list{
    background-color: white;
    position: absolute;
    top: 188px;
    left: 330px;
    box-shadow: -1px 0px 0px 0px rgb(125, 166, 41);    
    width: 665px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 8px;
    display: none;
}


#women-list{
    background-color: white;
    position: absolute;
    top: 0px;
    left: 330px;
    box-shadow: -1px 0px 0px 0px rgb(125, 166, 41);    
    width: 665px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 8px;
    display: none;
    
}

#women-list li,
#another-women-list li{
    border: 0px;
    font-size: 16px;
    margin-top: 8px;
    color: black;
    transition: all 0.5s ease-in-out;
    padding: 0%;

}

#women-list li:hover,
#another-women-list li:hover{
    color: var(--main_color);
    transform: translateX(5px);
    box-shadow: -1px 0px 0px var(--main_color);
}
.divider-womenlist{
    width: 100%;
    color: rgba(0, 0, 0, 0.211);
}

.img-womenlist{
    width: 100%;
    height: auto;
}

.links-womenlist{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0%;
    
}

.links-list{
    padding: 0%;
    margin-right: 0px;
    margin-top: 0%;
}

.links-list span{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

#Pages-list{
    background-color: white;
    position: absolute;
    top: 45px;
    right: -55px;
    padding: 3px;
    width: 180px;
    display: none;
}

#Pages-list .Pageslist-item{
    color: black;
    font-size: 15px;
    font-weight: 200;
    transition: 0.5s all ease-in-out;
}

#Pages-list .Pageslist-item:hover{
    color: var(--main_color);
    transform: translateX(5px);
    border-left: var(--main_color);
}

#pages-button,
#menlist-container{
    position: relative;
}

#menlist-container{
    width: 66px;

}


#men-list{
    position: absolute;
    top: 45px;
    left: -545px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding: 8px 0px 8px 8px;
    display: none;
    background-color: white;
    
}

#men-list .men-item{
    color: black;
    font-size: 15px;
    font-weight: 200;
}

#men-list .men-item:hover{
    color: var(--main_color);
}

.women-brand{

    background-image: url(../main-imgs/banner06.jpg);
}

.man-brand{
    background-image: url(../main-imgs/banner07.jpg);

}

.accessories-brand{
    background-image: url(../main-imgs/banner08.jpg);

}

.bags-brand{
    background-image: url(../main-imgs/banner09.jpg);

}


.brands-imgs{
    width: 100%;
    padding: 10px 0px 8px 0px;
    margin-right: 0px!important;
    height: 111px!important;
    display: flex;
    justify-content: space-between;
}


.present-brand{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 274px !important;
    margin-right: 10px;
    height: 108px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: rgb(255, 255, 255);}

.manlist-divider{
    color: #0c0c0c;
}

.men-links .links-list{
    padding: 0%;
    margin-right: 0px;
    margin-top: 0%;
    width: 274px;
}

.men-links .links-list li{
    font-size: 16px;
    color: black !important;
    transition: all 0.5s ease-in-out !important;

}

.men-links .links-list li:hover{
    color: var(--main_color) !important;
    transform: translateX(5px);
    box-shadow: -1px 0px 0px var(--main_color);
}


#phonesbutton{
    position: relative;
}

#phones-list{
    
    position: absolute;
    background-color: white;
    top: -54px;
    left: 329px;
    border-left: var(--main_color) 1px solid;
    justify-content: space-between;
    padding: 8px;
    display: flex; /* Added to display as a flex container */
    display: none; /* Initial state: hidden */
     
}

#phones-list .links-list{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    width: 250px;
    border: 0px;

}

#phones-list .links-list .links{
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0%;
}

.phoneslist-divider{
    color: rgba(0, 0, 0, 0.479);
    width: 100%;
}

#phones-list .links-list .links li{
    padding: 4px 0px 4px 0px;
    transition: all ease-in-out 0.5s;
    color: #0c0c0c;
    border-bottom: 0px;
}

#phones-list .links-list .links li:hover{
    color: var(--main_color);
    transform: translateX(5px);
    border-left: 1px solid var(--main_color);
    
}


#phones-list .links-list .links span{
    font-size: 25px;
    font-weight: 900;
}


#phones-list .img-container {
    background-position-x: center;
    color: white;
    width: 200px;
    height: 485px;
    padding: 21px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 700;
    background-image: url(../main-imgs/banner04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


#phone-text{
    width: 100%;
    margin-right: 92px;
}


#sidebar-menu{
    
    width: 119px;
    height: 263px;
    background-color: var(--main_color);
    position: absolute;
    top: 224px;
    left: -102px;
    transition: all ease-in-out 1s;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    z-index: 998;
}

#sidebar-menu .sidebar-items{
    color: white;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#sidebar-menu:hover{
    transform: translateX(102px);
}

#sidebar-button{
    border: none;
    background-color: white;
    font-size: 26px;

}


#altMainSidebar{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    /* backdrop-filter: blur(10); */
    transition: all ease-in-out 1s;
    display: none;


}

#altMainSidebar ul{
    padding: 0;
}



#altMainSidebar li{
    padding: 20px 15px 20px 20px;
    color: black;
}



#altMainSidebar li:hover{
    color: var(--main_color);
}

#altMainSidebar li:first-child{
    background-color: var(--main_color);
    backdrop-filter: blur(10px);
    font-weight: 1000;
}


#altMainSidebar li:first-child:hover{
    color: white;

}



.altPagesMenu-item{
    padding: 8px 30px;
    background-color: white;
    color: black;
    transition: all ease-in-out 0.5s;
    position: relative;
}


.altPagesMenu-item:hover{
    color: var(--main_color);
}


.altPagesMenu-item:hover{
    color: var(--main_color);
    transform: translateX(5px);    

}


.alt-divider{
    background-color: white;
    color: #000000;
    margin-top: 20px !important;
}


.alt-menu-head{
    color: black;
    padding: 8px 30px;

}


#altCategoriesMenu,
#altwomenclothing,
#altMenMenu,
#altPagesMenu{
    display: none;
}

#close-sidebar{
    font-size: 40px;
    transition: all 0.5s ease-in-out;
}

#close-sidebar:hover{
    color: var(--main_color)!important;
    transform: scale(1.5);
}


.owl-theme .owl-nav{
    display: none;
}

.owl-theme .owl-dots {
    margin-top: -37px;
    z-index: 999 !important;
    position: relative;
}

.owl-carousel .owl-item img {
    height: 570px;
  }

  /* Change the color of navigation dots */
  .owl-theme .owl-dots .owl-dot span {
    background-color: #a00909; /* Change to your desired color */
  }

  .topCollectionsSlider{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
    margin-top: 70px !important;
    margin-bottom: 70px !important;

  }

  .topCollectionsSlider .item{
    position: relative;
    height: 350px;
    width: 230px;
    padding: 0%;
    padding-bottom: 20px;
    transition: all ease-in-out 1s;
  }

  
  .topCollectionsSlider .item .item-text,
  .topCollectionsSlider .item .item-button,
  .topCollectionsSlider .item .ads-logo{
    position: absolute;
  }

  .topCollectionsSlider .item:hover{
    transform: scale(1.1);
  }

  .topCollectionsSlider .item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s;
    position: relative;

  }

  .topCollectionsSlider .item .item-text{
    bottom: 70px;
    left: 20px;
    font-weight: 900;
    color: white;
    font-size: 20px;
    width: 10px;
    display: none;

  }
    
  .topCollectionsSlider .item .item-button{
    bottom: 30px;
    left: 20px;
    background-color: var(--main_color);
    color: white;
    font-weight: 900;
    border-radius: 0%;
    display: none;

  }

  .topCollectionsSlider .item .ads-logo{
    top: 0;
    left: 0;
    background-color: #413f3f;
    color: white;
    padding: 5px;
    font-weight: 900;
 
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 78%); 
    pointer-events: none;
    display: none;
}

.topCollectionsSlider .item .item-specialbutton{
    position: absolute;
    top: 159px;
    right: 50px;
    background-color: white;
    color: #000000;
    border-radius: 0;
    text-transform: capitalize !important;
    display: none;

}

.topCollectionsSlider .item:hover #overlay,
.topCollectionsSlider .item:hover .item-specialbutton{

    display: block;
}

/* 2nd slider */
.mallshapes-bg{
    padding-bottom: 20px;
    background-color: rgba(248,248,255,255);
}

.mallshapes{
    display: flex;
    flex-flow: column ;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    
    
}

.mallshapes .section-name{
    color: var(--main_color);
    margin-top: 57px;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
}

.mallshapes .first-text{
    color: black;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.mallshapes .second-text{
    color: black;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
}

.mallshapes {
  position: relative;
}

.swiper {
  width: 70%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 40px;
  margin-bottom: 40px !important;
  padding: 0%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}


.top-offers {
    display: flex !important;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 70%;
}

.top-offers .main-header{
    color: var(--main_color);
    margin-top: 57px;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;   
}

.top-offers .first-text{
    color: black;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.top-offers .second-text{
    color: black;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
}

.products{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 30px !important;
}

.products .product{
    position: relative;
    height: 300px;
    width: 255px;
    padding: 5px;
    transition: all ease-in-out .5s;
    margin-bottom: 20px;
}



.products .product img{
    position: absolute;
    width: 100%;
    height: 65%;
    top: 0;
    left: 0;
    border-radius: 20px;
}


.products .product .black-tag{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 12px;
    width: 50px;
    height: 22px;
    line-height: 22px;
}

.products .product .discount-tag{
    position: absolute;
    top: 22px;
    left: 0;
    background-color:var(--main_color);
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 12px;
    width: 50px;
    height: 22px;
    line-height: 22px;

}

.products .product .product-info{
    width: 90%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    bottom: 60px;
    left: 10px;
}

.products .product .product-info .price{
    font-size: 20px;
    font-weight:bolder;
}

.products .product .product-info .product-name{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
}

.products .product .product-buttons{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    display: none;
}

.products .product .product-buttons .like-button,
.products .product .product-buttons .share-button{
    width: 40px;
    height: 40px;
    background-color: white;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.315);
    cursor: pointer;
}

.products .product .product-buttons .addToCart-button{
    width: 134px;
    height: 40px;
    font-size: revert-layer;
    background-color: var(--main_color);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.315);
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    padding: 5px;
    font-weight: bolder;
}


.products .product .viewMore-button{
    width: 124px;
    height: 37px;
    font-size: 15px;
    color: var(--main_color);
    background-color: white;
    border: 1px solid var(--main_color);
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: baseline;
    text-transform: uppercase;
    padding: 5px;
    font-weight: bolder;
    position: absolute;
    top: 80px;
    left: 63px;
    display: none;
}

.products .product:hover{
    box-shadow: #0000001f -1px 5px 4px 0px;
}


.products .product:hover img{
    filter:opacity(0.5) ;
}

.products .product:hover .product-buttons,
.products .product:hover .viewMore-button{
    display: flex;
}

.counter-section{
    height: 500px;
    padding: 60px ;
    position: relative;
    background: url(../main-imgs/counter/bg_counter.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    justify-content:flex-start;
    align-items: flex-end;
    padding-right: 250px !important;
    margin-bottom: 50px;
    margin-top: 20px;
}

.counter-section .inner-data{
    width: 540px;
}





.counter-section .main-header{
    color: var(--main_color);
    font-size: 18px;
    text-transform: capitalize;
}

.counter-section .first-text{
    color: black;
    font-size: 40px;
    font-weight: bolder;
    text-transform: capitalize;
}

.counter-section .second-text{
    color: black;
    font-size: 14px;
    font-weight: 100;
}

.counter-section .third-text{
    color: black;
    font-size: 25px;
    font-weight: bolder;
}


.inner-data hr{
    width: 105%;
}

.counter-section .inner-text,
.counter-section #timer{
    margin-left: 10px;

}

.counter-section #timer{
    display: flex;
    justify-content: space-between;
}

.counter-section .time-count{
    display: flex;
    flex-flow: column;
    justify-content:space-between ;
    align-items: center;
    height: 145px;
}

.counter-section  .timer{
    font-size: 50px;
    font-weight: 900;
    color: #000000;
}

.counter-section .time-count .time-unit{
    font-size: 27px;
    color: #00000030;
    font-weight: bolder;
    text-transform: uppercase;
}
#timer{
    display: flex;
    justify-content: space-between;
}


.ads-section{
    background-color: rgba(248, 248, 255, 255);
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ads-section .ads-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.ads-section .main-photo{
    width: 60%;
    position: relative;
}


.ads-section .main-photo img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.ads-section .main-photo .text-box{
    position: absolute;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 134px;
    align-items: center;
    transition: all;
    translate: 0% 148%;


}

.ads-section .text-box .first-text{

    color: var(--main_color);
    font-size: 30px;
    font-weight: 900;

}

.ads-section .text-box .second-text{

    color: white;
    font-size: 35px;
    font-weight: 100;
    text-transform: uppercase;

}


.ads-section .text-box button{
    background-color: var(--main_color);
    color: white;
    font-weight: 900;
    border-radius: 0%;
    padding: 4px 8px;
    font-size: 20px;
    border: none;
}

.ads-section .text-box button:hover{
    background-color: white;
    color: var(--main_color);
}



.ads-section .side-photos{
    width: 30%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

}

.ads-section .side-photos .ads-photo{
    position: relative;
    height: 263px;
}

.ads-section .side-photos .ads-photo:first-child{
    margin-bottom: 10px;
}


.ads-section .side-photos .ads-photo img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.ads-section .side-photos .ads-photo .text{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 100px;
    color: white;
    font-size: 34px;
    font-weight: bolder;
    text-transform: capitalize;
}

.new-products{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-products .main-header{
    color: var(--main_color);
    margin-top: 57px;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
}

.new-products .first-text{
    color: black;
    font-size: 30px;
    font-weight: 900 bolder;
    text-align: center;
    text-transform: uppercase;
}


.new-products .second-text{
    color: black;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
}

.NewProductItems{
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin:20px auto;

}

.NewProductItems .newproductItem{
    width: 542px;
    height: 367px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.NewProductItems .product-image{
    position: relative;
    width: 230px;
    height: 330px;
    border-radius: 10px;
}

.NewProductItems .newproductItem:hover img{
    filter: opacity(0.5);
}


  .NewProductItems .product-image img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
  }

  .NewProductItems  .product-info{
    width: 272px;
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

  .NewProductItems  .product-info .status{
    font-size: 12px;
    font-weight: 900;
    text-transform: capitalize;
  }

  .NewProductItems  .product-info .status span{
  color: green;  
  }

  .NewProductItems  .product-info .price{
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
  }

  .NewProductItems  .product-info .product-name{
    font-size: 15px;
    font-weight: 900;
    text-transform: capitalize;
  }

  .NewProductItems .product-info .fa-star{
    color: rgb(255, 197, 37);
  }

  .NewProductItems .product-description{
    font-size: 15px;
    font-weight: 100;
  }


  .NewProductItems .product-buttons{
    width: 82%;
    display: flex;
    justify-content: space-evenly;
}

.NewProductItems .product-buttons .like-button,
.NewProductItems .product-buttons .share-button{
    width: 40px;
    height: 40px;
    background-color: white;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.315);
    cursor: pointer;
}

.NewProductItems .product-buttons .addToCart-button{
    width: 134px;
    height: 40px;
    font-size: revert-layer;
    background-color: var(--main_color);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.315);
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    padding: 5px;
    font-weight: bolder;
}

@media  screen and (min-width: 750px) and (max-width: 1100px) {
    .ads-section .side-photos .ads-photo .text{
        font-size: 20px;
    }

    .footer .footer-item{
        width: 50%;
    }    
}


@media  screen and (min-width: 450px) and (max-width: 1000px) {
    html {
        width: 121%;
    }
    /* navbar */
    .page-navbar .search-bar .input-group{
        margin-bottom: 20px;
    }

    #altMainSidebar {
        width: 120% 
    }
/* footer */
    .footer .footer-item{
        width: 50%;
        font-size: 10px; 
    } 

    .footer .footer-item a{
        font-size: 10px;
    }


    .footer span{
        font-size: 11px !important; 

    }

    .footer i{
        font-size: 12px !important;
    }

    .footer img{
        width: 100% !important;
    }

    .footer-item button {
        font-size: 11px !important;
        margin-top: 3px;
}

    

    .ads-section{
        flex-direction: column;
    }

    .topCollectionsSlider .item {
        margin: auto;
    }

    .counter-section {
        
        align-items: center;
        padding-right: 0px !important;
        align-items: flex-start !important;
        
    }

    .counter-section .timer{
        font-size: 30px;
    }

    .counter-section .time-unit{
        font-size: 25px;
    }

    .counter-section .time-count {
        height: auto;
    }

    .top-offers .products{
        justify-content: space-between;
        margin-top: 20px !important;
    }

    .top-offers .product{
        margin: auto;
    }


    .ads-section .main-photo .text-box .first-text{
        font-size: 20px;
    }


    .ads-section .main-photo .text-box .second-text{
        font-size: 27px;

    }
    

    .ads-section .side-photos .ads-photo .text{
        font-size: 15px;
    }
}


@media screen and (max-width: 450px) {
    body {
        width: 123%;
    }
    
    html{
        
    width: 672px;

    }

    /* navbar */
    .page-navbar .search-bar .input-group{
        margin-bottom: 20px;
    }

    #altMainSidebar {
        width: 120%; 
    }
     /*  */
    .contactUs .contact-section {
        width: 85%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .contactUs .user-input,
    .contactUs .our-location{
    
    width: 80%;
}

    .counter-section {
        padding-right: 0px;
    }

    .ads-section .side-photos .ads-photo .text{
        font-size: 15px;

    }

    #altMainSidebar{
        width: 758px;

    }
    
    .top-offers .products{
        justify-content: center;

    }

    .top-offers .products .product {
        position: relative;
        margin: auto;
        height: 511px;
        width: 540px;
        padding: 5px;
        transition: all ease-in-out .5s;
        margin-bottom: 63px;
    }
    .top-offers .products .product .product-info{
        bottom: 120px;
        width: -webkit-fill-available;
    }
    .top-offers .products .product .product-info .price,
    .top-offers .products .product .product-info .product-name{
        font-size: 35px !important;

    }

    .top-offers .products .product .product-buttons .addToCart-button{
        
            width: 49%;
            font-size: 25px !important;

    }

    .top-offers .products .product .product-buttons .like-button,
        .top-offers .products .product .product-buttons .share-button{
            width: 20%;
            font-size: 30px;
        }

        
    

    .top-offers .products .product .product-buttons{
        bottom: 50px;

    }


    .top-offers .products .product .viewMore-button {
        
        width: 44%;
        top: 135px;
        left: 142px;
        font-size: 27px;
        height: auto;
        padding: 10px;
    }

    .newproductItem {
        flex-direction: column;
        margin-bottom: 54px;
        text-align: center !important;
        height: 800px !important;
        font-size: 30px !important;
    }

    .newproductItem .product-image{
        width: 90%;
    height: -webkit-fill-available;
    margin-bottom: 20px;
}

.newproductItem .product-image img{
    width: 100%;
    height: 100%;
    left: 0;

}

.newproductItem .product-info{
    width: 100%;
    height: 400px;
}

    

.newproductItem .product-info .status{
    font-size: 25px;


}

.newproductItem .product-info .price{
    font-size: 35px;

}

.newproductItem .product-info .product-name{
    font-size: 35px;
}


.newproductItem .product-info .rate{
    font-size: 40px;
}

.newproductItem .product-info .product-description{
    font-size: 20px;
    margin-bottom: 20px;
}

.newproductItem .product-buttons{
    width: auto;
}

.newproductItem .product-info .addToCart-button{
        
    width: 49%;
    font-size: 25px !important;

}

.newproductItem .product-info .like-button,
.newproductItem .product-info .share-button{
    width: 20%;
    font-size: 30px;
}


.counter-section {
        
    align-items: center;
    padding-right: 0px !important;
    align-items: flex-start !important;
    
}

#altMainSidebar{
    width: 100%;
    height: auto;
}

/* footer */
.footer .footer-item{
    width: 50%;
    font-size: 10px; 
} 

.footer .footer-item a{
    font-size: 10px;
}


.footer span{
    font-size: 11px !important; 

}

.footer i{
    font-size: 12px !important;
}

.footer img{
    width: 100% !important;
}

.footer-item button {
    font-size: 11px !important;
    margin-top: 3px;
}

}

.testimonials-section .inner-box{
    width: 80%;

}


.testimonials-section .inner-box{
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content:space-between ;

}

.testimonials-section p{
    margin: 0;
}
.testimonials-section .main-header{
    color: var(--main_color);
    margin-top: 17px;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;   
}

.testimonials-section .first-text{
    color: black;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
}

.testimonials-section .second-text{
    color: black;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
}

.testimonials-section .testimonials{
    height: 250px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}



.owl-theme .owl-dots{
    margin-top: 20px;
}



.testimonials-section .testimonials .user-profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
}


.testimonials-section .testimonials .user-profile img{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;

}

.testimonials-section .testimonials .user-profile .badge {
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
    bottom: -7px;
    right: 4px;
    text-align: center;
    font-size: 23px;
    color: var(--main_color);
    padding: 0px;
    line-height: 1.7;

}

.testimonials-section .comment{
    width: 80%;
    height: 40%;
    overflow: auto;
    direction: rtl;
    margin-top: 15px;
    text-align: center;
    color: black;
}

.testimonials-section .username{
    text-transform: uppercase;
    font-size: 20px;
    color: #000000;
    margin-top: 20px;
}

.testimonials-section .comment::-webkit-scrollbar {
    width: 2px;
    
  }


.testimonials-section .comment::-webkit-scrollbar-track {
    background-color: rgba(0, 128, 0, 0.158);
    width: 2px;
}

.testimonials-section .comment::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: var(--main_color); 
    border-radius: 2px; 
}


.contactUs{
    background-color: rgba(248, 248, 255, 255);
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;

}

.contactUs .first-text{
    color: var(--main_color);
    margin-top: 17px;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 40px;
    font-style: italic;

}

.contactUs .second-text{
    color: var(--main_color);
    margin-top: 17px;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    font-style: italic;

}

.contactUs .contact-section{
    width: 85%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contactUs .user-input,
.contactUs .our-location{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 350px;
    width: 49%;
}



.contactUs .user-input input,
.contactUs .user-input textarea{
    width: 100%;
    padding: 10px;
    
    
}

.contactUs .user-input textarea{
    height: 150px;
    
}

.contactUs .user-input button{
    background-color: var(--main_color);
    color: white;
    border: 0;
    text-transform: uppercase;
    padding: 7px;
}

.contactUs .our-location iframe{
    width: 100%;
    height: 100%;
}

.footer{
    width: 85%;
    display: flex;
    flex-flow: row wrap; /* Add wrap here */
    justify-content: flex-start;
}

.footer .footer-item{
    width: 25%;
    padding: 10px;
    padding-left: 0 !important;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 25%; 
}

.footer-item img{
    width: 190px;
}

.footer-item i{
    font-size: 17px;
    margin-right: 8px;
}


.footer-item span{
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
}

.footer-item button{
    background-color: var(--main_color);
    color: white;
    text-align: center;
    font-size: 17px;
    font-weight: 900;
    padding: 5px 7px;
    border: 0;
}

.footer .contacts{
    width: 120px;
}

.validation-text{
    text-transform: capitalize;
    color: #a00909;
    position: absolute;
    display: none;
    font-weight: 900;
}


.setting-section{
    display: flex;
    justify-content: space-between;
    border: 1px black solid;
    margin-top: 30px !important;
}

.setting-section .sideSettingNavbar{
    width: 25%;
    box-shadow: #00000075 -2px 3px 7px;
    padding-top: 13px !important;

}

.setting-section .sideSettingNavbar .item{
    cursor: pointer;
}

.setting-section .sideSettingNavbar .item:hover,
.setting-section .sideSettingNavbar .item:active {
    color: var(--main_color);
}


.setting-section .sideSettingNavbar .fa-angles-right{
    font-size: 20px;
}


.setting-section .sideSettingNavbar span{
    font-size: 20px;
    text-transform: uppercase;
}

.setting-section .account-management{
    position: relative;
}

.setting-section .account-management{
    width: 70%;

}
.setting-section .account-management .manageAccountPage .fa-pen-to-square{
    color: var(--main_color);
    font-size: 20px;
    position: absolute     
}